* {
    background: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 91vh;
}

.box1 {
    position: absolute;
    width: 18.5rem;
    height: 26rem;
    border-radius: 1rem;
    background: rgb(38, 40, 46);
    transition: 500ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
    box-shadow: 0px 0px 20px black;
    z-index: 2;
}

.box2 {
    position: absolute;
    width: 18.5rem;
    height: 26rem;
    margin-left: -2.5rem;
    rotate: -4deg;
    border-radius: 1rem;
    background: rgb(64, 68, 78);
    transition: 500ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
    box-shadow: 0px 0px 20px black;
    z-index: 1;
}

.box3 {
    position: absolute;
    width: 18.5rem;
    height: 26rem;
    rotate: 4deg;
    margin-top: 1.25rem;
    margin-left: 2.813rem;
    border-radius: 1rem;
    background: rgb(64, 68, 78);
    transition: 500ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
    box-shadow: 0px 0px 20px black;
    z-index: 3;
}

.box:hover .box1 {
    transform: rotate(-4deg);
}

.box:hover .box2 {
    transform: rotate(-8deg);
    margin-left: -15rem;
    margin-top: 3rem;
}

.box:hover .box3 {
    transform: rotate(4deg);
    margin-top: 5rem;
    margin-left: 15rem;
}

.hub {
    position: absolute;
    height: 1.5rem;
    left: -8rem;
    top: 7.5rem;
    border-radius: 50%;
    font-size: 25px;
    background: transparent;
    color: rgb(209, 209, 209);
    border: 3px solid rgb(209, 209, 209);
}